<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DSF Tutorial"
            id="com.kichwacoders.cdt.dsf.tutorial">
      </category>
      <view
            name="Timers View"
            icon="icons/timer.gif"
            category="com.kichwacoders.cdt.dsf.tutorial"
            class="com.kichwacoders.cdt.dsf.tutorial.timers.TimersView"
            id="com.kichwacoders.cdt.dsf.tutorial.exercise.timers.TimersView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.category"
            name="DSF Tutorial View Model">
      </category>
      <command
            categoryId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.category"
            id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.exercise"
            name="DSF Tutorial View Model Exercise">
      </command>
      <command
            categoryId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.category"
            id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.solution"
            name="DSF Tutorial View Model Solution">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.kichwacoders.cdt.dsf.tutorial.viewmodel.FileBrowserCommandHandler"
            commandId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.exercise">
      </handler>
      <handler
            class="com.kichwacoders.cdt.dsf.tutorial.viewmodel.solution.FileBrowserCommandHandler"
            commandId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.solution">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.kichwacoders.cdt.dsf.tutorial.menu.viewmodel"
               label="DSF Tutorial View Model">
            <command
                  commandId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.exercise"
                  icon="icons/sample.gif"
                  id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.exercise">
            </command>
            <command
                  commandId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.solution"
                  icon="icons/sample.gif"
                  id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.solution">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.kichwacoders.cdt.dsf.tutorial.toolbar.viewmodel">
            <command
                  commandId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.exercise"
                  icon="icons/sample.gif"
                  id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.exercise"
                  tooltip="DSF Tutorial View Model Exercise">
            </command>
            <command
                  commandId="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.solution"
                  icon="icons/sample.gif"
                  id="com.kichwacoders.cdt.dsf.tutorial.commands.viewmodel.solution"
                  tooltip="DSF Tutorial View Model Solution">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.kichwacoders.cdt.dsf.tutorial.timers.SpyTimersView"
            id="com.kichwacoders.cdt.dsf.tutorial.timers.spy.view"
            name="Timers Spy"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.kichwacoders.cdt.dsf.tutorial.timers.SpyToggleHandler"
            id="com.kichwacoders.cdt.dsf.tutorial.timers.spy.toggle"
            name="Toggle Spy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.kichwacoders.cdt.dsf.tutorial.timers.spy.view?after=additions">
         <command
               commandId="com.kichwacoders.cdt.dsf.tutorial.timers.spy.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.kichwacoders.cdt.dsf.tutorial.timers.spy.view">
         <command
               commandId="com.kichwacoders.cdt.dsf.tutorial.timers.spy.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.kichwacoders.cdt.dsf.tutorial.timers.spy.view">
         <command
               commandId="com.kichwacoders.cdt.dsf.tutorial.timers.spy.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
   </extension>
   

   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.FrameSpyEventsView"
            id="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.view"
            name="DSF-GDB Frame Spy with Events"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.FrameSpyEventsHandler"
            id="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.toggle"
            name="Toggle Spy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.view?after=additions">
         <command
               commandId="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.view">
         <command
               commandId="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.view">
         <command
               commandId="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.events.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
   </extension>
   

   
   
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.FrameSpyPollingView"
            id="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.view"
            name="DSF-GDB Frame Spy with Polling"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.FrameSpyPollingHandler"
            id="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.toggle"
            name="Toggle Spy">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.view?after=additions">
         <command
               commandId="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.view">
         <command
               commandId="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.view">
         <command
               commandId="com.kichwacoders.cdt.dsf.gdb.tutorial.framespy.polling.toggle"
               icon="icons/enablespy.gif"
               label="Toggle Spy"
               style="push">
         </command>
      </menuContribution>
   </extension>
   
</plugin>
